<h1>Add an Album</h1>

<form action="/albums" method="post">
  <label for="name">Album Title:</label>
  <input type="text" name="name">

  <label for="artist">Select artist:</label>
    <select name="artist_id">
     
      <% @artists.each do |artist|  %>
        <option value=<%=artist.id %> > <%= artist.name %> </option>
      <% end %>
    </select>
  
  <input type='submit' value="Add Album">
</form>